@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1604826_1weef252ibc.eot?t=1578576043462'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1604826_1weef252ibc.eot?t=1578576043462#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALUAAsAAAAABrAAAAKGAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDDAqBBIESATYCJAMMCwgABCAFhG0HSBvwBciuMTaGVk8kQhp0ShEWMx1nXrYfHFgciYd/x373bfuGWROxbNZMKyRSIUHplEDpnO4l8L9rmjHbPH8sq0akihZ/7jgXGDkiWdZV4+dJqG5ybhNuOcEz1A0RfPU6QsLqaw8Amv9r0p5S01Vl6vNcTm8CBTK/ZbnMMSg66gUYBxTQ3hhFNIQybhi7icAh3CfQZICia3d9N40GFWBZIJ5cu4AGc0lFsSp1oVqzt4hXFfX0nDqQF/79+GPFIEklA2uPH9fKaPFTOf7XPSWkCOrhCjLmIIW4ri2e6hEWr0dTsdcEtK9pweefT9Qt9tqQBGH/daC9BayppcwnLCH4nEO6Q5WqvvHWDKr1bUYhizrbMy5El6J+O5vOkqnV47lM7W4h1zgRK/qrrZGcXJVZ69vfwOXl+Tl4k61UCKmt1SDUhvmyiJZr3Y8PPjR1X16CDnkgnd7ih//mUSBY99knenCkgI+OHhVn0b9Ul7BUv0zVs6eEGuDKxVdiZRzOunr4E6rcjvgHol3+xlt776ka6npHRGv67y9cN5aShZ1DRbM1VNVtoMmsjcPNunE9ojQw40JB6PCKpM07sg5fZGF/UdHnH1Ud0YMml+HMZhPhDs+hIKGMi0fYLdGIII8cFp1JsPeCAs9qOD8LXLgZbGpGsbIBEfA5Noh925KSYMJpiNeVxyAIKI459aAkNUfKOKHrpO5FWomGaNgODhRIoAwrOoK5SqgIoYOl4dLnk4BtT6CAt3AG0lmAE9zRMZPG6EFuGKNenHt5Rthns0gSgREcFcLWlVkgEKCwuH6WB5RIGmdEPpagw36kr1Fb3xx+3yFoAibkSJGjaD29xzcLkR3ACo2PxnMBEyEAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_1604826_1weef252ibc.woff?t=1578576043462') format('woff'),
  url('//at.alicdn.com/t/font_1604826_1weef252ibc.ttf?t=1578576043462') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1604826_1weef252ibc.svg?t=1578576043462#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6a4";
}

.icon-RectangleCopy1:before {
  content: "\e6a5";
}

.icon-pull-copy:before {
  content: "\e6a6";
}
